body {
    background-color: #2d2d86;
    color: #cccccc;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-family: "Tahoma, Geneva, sans-serif"
}